<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
  <label>
       <span>Full name</span>
       <input type="text" placeholder="Your full name" formControlName="name">
     </label>
  <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('required')">
    Name is required
  </div>
  <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('minlength')">
    Minimum of 2 characters
  </div>
  <div formGroupName="account">
    <label>
         <span>Email address</span>
         <input type="email" placeholder="Your email address" formControlName="email">
       </label>
    <div class="error" *ngIf="user.get('account').get('email').touched && user.get('account').get('email').hasError('required')">
      Email is required
    </div>
    <label>
         <span>Confirm address</span>
         <input type="email" placeholder="Confirm your email address" formControlName="confirm">
       </label>
    <div class="error" *ngIf="user.get('account').get('confirm').touched && user.get('account').get('confirm').hasError('required')">
      Confirming email is required
    </div>
  </div>
  <button type="submit" [disabled]="user.invalid">Sign up</button>
</form>
<hr/>
<button pButton type="button" label="+" icon="fa-check" iconPos="right" (click)="incrementar()"></button>
<div>Contador: {{miContador | async}}</div>
<button pButton type="button" label="-" (click)="decrementar()"></button>
<button pButton type="button" label="0" (click)="resetear()"></button>
<hr/>
<p>Progreso: {{progreso}}</p>
<p>Detalle: {{etiquetaProgreso}}</p>
<button (click)="progresoDentroDeNGZone()">Dentro de NGZone</button>
<button (click)="progresoFueraDeNGZone()">Fuera de NGZone</button>
<hr/>
<h1>Lista de usuarios desde MONGO</h1>
<ul>
  <li *ngFor='let userMongo of listaUsuariosMongo'>
    {{userMongo.id}} {{userMongo.nombre}} {{userMongo.apellidos}}
    <button md-mini-fab (click)="verUsuarioMongo(userMongo.id)"><md-icon>arrow_forward</md-icon></button>
    <button md-mini-fab (click)="updateUsuarioMongo(userMongo.id)"><md-icon>update</md-icon></button>
    <button md-mini-fab (click)="removerUsuarioMongo(userMongo.id)"><md-icon>delete</md-icon></button>
  </li>
</ul>
<hr/>
<h1>Lista de usuarios desde MONGO - Material</h1>
<div class="container">
  <div class="row">
    <div *ngFor='let userMongo of listaUsuariosMongo'>
      <div class="col">
        <md-card class="example-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title> {{userMongo.nombre}} </md-card-title>
            <md-card-subtitle>{{userMongo.apellidos}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="assets/img/shiba1.jpg">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-mini-fab (click)="verUsuarioMongo(userMongo.id)"><md-icon>arrow_forward</md-icon></button>
            <button md-mini-fab (click)="updateUsuarioMongo(userMongo.id)"><md-icon>update</md-icon></button>
            <button md-mini-fab (click)="removerUsuarioMongo(userMongo.id)"><md-icon>delete</md-icon></button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>




<hr/>
<h1>Lista de usuarios desde service</h1>
<ul>
  <li *ngFor='let user of listaUsuarios' (click)='navegarHaciaDetalleUsuario(user.id)'>
    {{user.id}} {{user.nombre}}
  </li>
</ul>

<hr/>
<h3 class="first">Basic</h3>
<p-dataTable [value]="listaAutos">
  <p-header>List of Cars</p-header>
  <p-footer>Choose from the list.</p-footer>
  <p-column field="numSerie" header="No. Serie" [sortable]="true"></p-column>
  <p-column field="year" header="Year" [sortable]="true"></p-column>
  <p-column field="brand" header="Brand" [sortable]="true"></p-column>
  <p-column field="color" header="Color" [sortable]="true"></p-column>
  <p-column field="brand" header="Color2">
    <ng-template let-col let-car="rowData" let-ri="rowIndex" pTemplate="body">
      <span>{{ri}} {{car[col.field]}}</span>
    </ng-template>
  </p-column>
  <p-column>
    <ng-template pTemplate="header">
      <button type="button" pButton (click)="selectAllCars()" icon="fa-check"></button>
    </ng-template>
    <ng-template let-car="rowData" pTemplate="body">
      <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button>
    </ng-template>
  </p-column>
</p-dataTable>

<p-dataTable [value]="listaAutos" sortField="brand" rowGroupMode="rowspan" [style]="{'margin-top':'50px'}">
    <p-header>RowSpan</p-header>
    <p-column field="brand" header="Brand" sortable="true"></p-column>
    <p-column field="color" header="Color" sortable="true"></p-column>
    <p-column field="year" header="Year" sortable="true"></p-column>
    <p-column field="numSerie" header="Vin" sortable="true"></p-column>
</p-dataTable>

<p-dataTable [value]="listaAutos" sortField="brand" rowGroupMode="subheader" groupField="brand" [style]="{'margin-top':'50px'}">
    <p-header>Subheader</p-header>
    <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['brand']}}</ng-template>
    <p-column field="color" header="Color" sortable="true"></p-column>
    <p-column field="year" header="Year" sortable="true"></p-column>
    <p-column field="numSerie" header="Serie" sortable="true"></p-column>
</p-dataTable>
<hr/>
<p-dataTable [value]="listaFases">
    <p-header>FASES</p-header>
    <p-column field="id" header="id" sortable="true"></p-column>
    <p-column field="fase" header="fase" sortable="true"></p-column>
</p-dataTable>
<hr/>
<div>
    {{errorServicioMongo}}
</div>
